<form action="/search" method="post" role="form" enctype="application/x-www-form-urlencoded">
    <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><strong>Search by Instrument</strong></span>
        </div>
        <input type="text" class="form-control" name="search" id="search" placeholder="Insturment">
    </div>
</form>

{{#if res_search}}
<h1>Search results for: "{{res_body.search}}"</h1>
{{/if}}
{{#each res_search}}
    <div class="card mb-3">
        <h5 class="card-header">{{this.FirstName}} {{this.LastName}}</h5>
        <div class="card-body">
            <p class="card-text"><strong>Instruments:</strong> {{this.Instruments}}</p>
        </div>
    </div>
{{/each}}